body{
    /* background-color: #FBFBFB; */
    background-color: #e6e1e1;
    font-family:"Poppins", sans-serif;
    margin:0;
    box-sizing: border-box;
}
h1{
    font-size:2.5rem;
    color: #48A300;
    
    text-align: center;
}
.title span{
    color:#61481C;
}
.container{
    /* margin:20px; */
    padding: 0px 10px;
}
.app-container{
    max-width:350px;
    background-color: #FBFBFB;
    border-radius: 15px;
    margin-inline:auto ;
padding:32px 48px;
box-shadow:0 0 10px 5px rgba(0,0,0,0.1);
margin-bottom: 1rem;

}
.sunImage{
    vertical-align:middle;
    margin-left: 16px;
    animation: rotate 2s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.eyes{
    margin-left: -2.3rem;
    position: relative;
     /* position: absolute;  */
}
.progress-label{
    font-size:14px;
color: #858585;
margin-bottom: 18px;
}
.progressBar{
    height:30px;
    /* accent-color: #48A300; */
    background-color: #48A3001A;
    border-radius: 15px;
}

.progress-value{
    height:100%;
    width: 0;
    font-size: 13px;
    font-weight: 500;
    color: #FBFBFB;
    display:flex;
    align-items: center;
    /* padding-left:10px ; */
    /* accent-color: #48A300; */
    background-color:#48A300 ;
    border-radius: 15px;
   
    overflow: hidden;
}
.progress-value span{
    padding-left:10px ; 
}
.errorlabel{
    font-size:14px;
color:#FF5151;
margin-top: 1px;
    display:none ;
   
}
.show-error .errorlabel{
    display:block;

}
.goal-container{
    border-radius:17px;
    border:1px solid #0000001A;
    height:25px ;
    display: flex;
    align-items: center;
    margin:1.5rem 0;
    color: #FFFFFF;
    padding: 8px 5px;
   
}
.completed .custom-checkbox{
    background-color: #48A300;
    border-color: #48A300;
}
.completed  .check-icon{
    display:block ;
}
.completed .goal-list{
    color:#48A300;
    text-decoration: line-through;
}
.custom-checkbox{
    height: 24px;
    width:24px;
    border: 1px solid #61481C4D;
    border-radius:50%;
    margin:0 12px;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color:#FFFFFF; */
   
}
.goal-list{
    border: none;
    margin-left: 5px ;
    padding: 3px;
    color:#D9D9D9;
    opacity: 0.6;
    font-family: inherit;
    /* background-color: black; */
    /* flex-grow: 1; */
    width: 100%;
    align-self: stretch;
    font-weight: 500;
}
.check-icon{
    display: none;
}
/* .goal-list:hover{
    color: black;
} */


.final{
    font-size:16px;
    font-weight: 700;
   
   text-align: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
}
.final-para{
    font-size:10px;
    font-weight: 500;
    color:#858585;
    text-align: center;
    margin-bottom: 2.5rem; 
}

@media(max-width:768px){
    .title{
        font-size: 2rem;
    }
    .app-container{
        padding: 16px 40px;
        max-width:350px ;
    }
    .goal-container{
        height:30px;
        padding: 10px 10px;
       

    }
    .final{
        margin-block: 1rem;
    }
    .progress-value{
        font-size: 13px;
    }
    
    
}
